@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-grayDarkest dark:text-white;
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 1.2s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .progress-bar-animated {
    background: linear-gradient(135deg, #f9ad6a 0%, #43978d 100%);
    background-size: 200% 200%;
    animation: gradient-move 2s linear alternate infinite;
    transition: width 0.7s;
  }

  html body .swal2-container {
    .swal2-popup {
      @apply w-full;
      max-width: 400px;
    }

    .swal2-title {
      @apply font-bold text-xl;
    }

    .swal2-actions {
      .swal2-confirm {
        @apply bg-primary;
      }
      .swal2-cancel {
        @apply bg-transparent text-grayDarkest hover:bg-transparent hover:bg-none;
      }
      .swal2-confirm,
      .swal2-cancel {
        @apply w-[150px];
      }
    }
  }
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .bgDarkMode {
    @apply bg-white dark:bg-grayDarker;
  }

  .borderDarkMode {
    @apply border-gray-200 dark:border-opacity-10;
  }

  .focus-primary:focus {
    @apply focus:ring-2 focus:ring-primary focus:ring-opacity-10;
  }

  .skeleton {
    @apply bg-gray-200 dark:bg-grayDarker mb-2 animate-pulse;
  }
}

@media screen and (max-width: 1023px) {
  .course-slider {
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .course-slider::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .course-slider > * {
    scroll-snap-align: start;
  }
}

.table-responsive {
  @media screen and (max-width: 1023px) {
    th,
    td {
      &:not(:first-child) {
        padding-left: 100px;
      }
    }
  }
}

.entry-content {
  font-size: 15px;
  line-height: 2;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  figure {
    @apply mb-5;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  ol,
  ul {
    @apply pl-5;
  }

  a {
    @apply underline text-primary;
  }
}
